<div class="py2 post-footer">
  <img src="{{ site.owner.gravatar }}?s=128" alt="{{ site.owner.name }}'s photo" itemprop="image" class="post-avatar"/>
	<h4 class="bordered-bottom vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">By <span itemprop="name" class="fn"><a href="{{ site.url }}/about.html" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a></span></h4>
	<img src="//i.stack.imgur.com/YcEnK.png" alt="IBM Champion" itemprop="image" class="post-signoff-champion" /><br />
	<p>{{ site.owner.description }}</p>
</div>
<!-- social profile identification -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Eric McCormick",
  "url" : "https://edm00se.github.io/iot-pi",
  "sameAs" : [
    "https://www.facebook.com/eric.n.mccormick",
    "https://twitter.com/edm00se",
    "https://instagram.com/edm00se",
    "https://www.linkedin.com/in/emccormick",
    "https://plus.google.com/+EricMcCormickThereCanBeOnlyOne",
    "https://www.ibm.com/developerworks/community/profiles/user/Eric%20McCormick"
  ]
}
</script>